* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #77002e;
  padding: 0 10%;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fcb8d2;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

.badge {
  background-color: #cc2062;
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}

.menu {
  font-size: 30px;
}

.header ul.show {
  opacity: 1;
  transform: scale(1);
  padding: 5px;
  height: auto;
  visibility: visible;
}

@media (max-width: 1080px) {
  .header {
    display: flex;
    height: auto;
    flex-direction: column;
    padding: 15px 25px;
    justify-content: center;
    align-items: start;
  }
  .header ul {
    display: flex;
    margin-top: 30px;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    gap: 10px;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    transform: scale(0);
    height: 0;
    visibility: hidden;
  }
  .header ul li {
    margin: 0;
    padding: 0;
  }
}